@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Red Hat Display", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 70px;
    user-select: none;
}

#meet-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

#meet-container img{
    width: 20px;
    height: 20px;
}

#meet-container > p{
    font-size: 26px;
    font-weight: bold;
}

#hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hero-img{
    width: 300px;
    height: 300px;
}

img{
    width: 100%;
}

#hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 25px;
}

#hero-content p, #meeting-content{
    color: #87879D;
    font-size: 18px;
}

#hero-button-container{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

#hero h1{
    font-size: 64px;
}

h1, h2{
    color: #28283D;
}

#hero-button-container button{
    padding: 16px 40px;
    border-radius: 30px;
    color: white;
    background-color: #4D96A9;
    border: none;
}

#hero-button-container button:hover{
    background-color: #71C0D4;
}

#hero-button-container button:hover span{
    color: #8FE3F9;
}

button#button-right{
    padding: 16px 29px;
    background-color: #855FB1;
}

button#button-right:hover{
    background-color: #B18BDD;
}

#hero-button-container button span{
    color: #8FE3F9;
}

button{
    cursor: pointer;
}

.page-number-container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-bar{
    width: 1px;
    height: 84px;
    background-color: #D8D8D8;
}

.page-number{
    width: 56px;
    height: 56px;
    border: solid 1px #D8D8D8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #87879D;
    font-weight: bold;
}

.image-list-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.image-list-container img{
    height: 100%;
    object-fit: cover;
}

.image-list-item{
    width: 255px;
    height: 242px;
    border-radius: 8px;
    overflow: hidden;
}

.smarter-meeting-container{
    width: 500px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#meeting-sub{
    color: #4D96A9;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;

}

.smarter-meeting-container h2{
    font-size: 44px;
}

footer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    /* z-index: 2; */
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #4d97a993;
    z-index: 100;
}

.footer-items{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
    color: #FAFAFA;
    width: 100%;
    gap: 50px;
}

.footer-items h3{
    color: white;
    font-size: 40px;
    width: 350px;
}

.footer-items button{
    background-color: #855FB1;
    border: none;
    border-radius: 29px;
    padding: 16px 40px;
    color: #FAFAFA;
}

.footer-items button:hover{
    background-color: #B18BDD;
}

.footer-items button span{
    color: #D9B8FF;
}

.footer-items p{
    font-size: 18px;
    width: 350px;
}

footer .page-number-container{
    position: absolute;
    top: -110px;
    z-index: 300;
}

footer .page-number{
    background-color: white;
}